// Font family
$font-family: 'Open Sans', sans-serif;

// Colors
$blue: #3400FF;
$beige: #F3E2CF;
$lightBeige: #fffaf5;

// Font weight
$demiBold: 600;

// Break point
$ipadDesktop: "screen and (min-width: 1024px)";